<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techie Blog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
 </head>

<body>
  <div class="wrapper">
  <header>
    <h1>Techie Blog:</h1>
    <nav>
    <a class="navigation" href="/">Home</a>
    <a class="navigation" href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="logout navigation btn-no-style">LOGOUT</button>
    {{else}}
    <a href="/login">LOGIN /</a>
    <a href="/signup"> SIGN UP</a>
    {{/if}}
    </nav>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Copyright 2022
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>