<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="contents">Content</label>
      <textarea type="text" id="contents" name="contents"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
    <div>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" ><button class="edit-link">Edit post</button></a>
    </div>
    {{/each}}
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>